@import url('https://fonts.googleapis.com/css?family=Quicksand');

body, div, h4{
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'Quicksand', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
}
.heading {
    font-weight: 700;
}
.subheading {
    font-weight: 300;
}


